<app-header></app-header>
<div class="centered-content">
    <div class="white-box">
        <h1 class="title has-text-primary">My number</h1>
        <div *ngIf="hasPlayed">
            You've already played my number today.
        </div>
        <div *ngIf="noGameToday">
            Game of the day is not set.
        </div>
        <div *ngIf="!hasPlayed">
                <div style="width: 100%">
                    <div *ngIf="!startNumbers && !isGameFinished" class="field" style="margin-bottom: 20px; min-height: 20px; display: block">
                        <p class="control is-pulled-right">
                            <button class="button is-success has-text-white" (click)='startTimer()'>
                                Get numbers
                            </button>
                        </p>
                    </div>
                    <div *ngIf="startNumbers && !gotNumbers && !isGameFinished" class="field" style="margin-bottom: 20px; min-height: 20px; display: block">
                        <p class="control is-pulled-right">
                            <button class="button is-success has-text-white" (click)='pauseTimer()'>
                                Stop
                            </button>
                        </p>
                    </div>
                </div>
                <div *ngIf="gotNumbers && !isGameFinished" style="width: 100%">
                    <div class="field" style="margin-bottom: 5px; min-height: 20px; display: block">
                        <p class="control is-pulled-right">
                            <span>Time: {{timeLeft}}</span> 
                        </p>
                    </div>
                </div>
                <div *ngIf="(startNumbers || gotNumbers) && !isGameFinished">
                    <div class="field">
                        <div class="error-message">{{error}}</div>
                    </div>
                    <div class="field">
                        <div class="error-message">{{success}}</div>
                    </div>
                    <div class="centered-content" style="min-height: 0vh">
                        Numbers : 
                        <div class="charbox" *ngFor="let number of numbers; let i = index" (click)="onNumberClicked(i)" [attr.data-index]="i">
                            <div>{{number}}</div>
                        </div>
                    </div>
                    <div class="centered-content" style="min-height: 0vh">
                        Target :
                        <div class="charbox" style="width: 40px">
                            <div>{{targetNumber}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isGameFinished" class="field" style="min-height: 20px; display: inline-block; float: right; margin-left: 10px">
                    <p class="control is-pulled-right">
                        <button class="button is-success has-text-white" (click)="onDeleteClick()">
                            C
                        </button>
                    </p>
                </div>
                <div *ngIf="!isGameFinished" class="field" style="min-height: 20px; display: inline-block; float: right; margin-left: 10px">
                    <p class="control is-pulled-right">
                        <button class="button is-success has-text-white" (click)="onOperationClick(')')">
                            )
                        </button>
                    </p>
                </div>
                <div *ngIf="!isGameFinished" class="field" style="min-height: 20px; display: inline-block; float: right;  margin-left: 10px">
                    <p class="control is-pulled-right">
                        <button class="button is-success has-text-white" (click)="onOperationClick('(')">
                            (
                        </button>
                    </p>
                </div>
                <div *ngIf="!isGameFinished" class="field" style="min-height: 20px; display: inline-block; float: right; margin-left: 10px">
                    <p class="control is-pulled-right">
                        <button class="button is-success has-text-white" (click)="onOperationClick('/')">
                            /
                        </button>
                    </p>
                </div>
                <div *ngIf="!isGameFinished" class="field" style="min-height: 20px; display: inline-block; float: right; margin-left: 10px">
                    <p class="control is-pulled-right">
                        <button class="button is-success has-text-white" (click)="onOperationClick('*')">
                            *
                        </button>
                    </p>
                </div>
                <div *ngIf="!isGameFinished" class="field" style="min-height: 20px; display: inline-block; float: right; margin-left: 10px">
                    <p class="control is-pulled-right">
                        <button class="button is-success has-text-white" (click)="onOperationClick('-')">
                            -
                        </button>
                    </p>
                </div>
                <div *ngIf="!isGameFinished" class="field" style="min-height: 20px; display: inline-block; float: right; margin-left: 10px">
                    <p class="control is-pulled-right">
                        <button class="button is-success has-text-white" (click)="onOperationClick('+')">
                            +
                        </button>
                    </p>
                </div>
                <div class="field">
                    <p *ngIf="isGameEnabled && !isGameFinished" class="control has-icons-left">
                        <!-- <input [(ngModel)]="expression" type="text" placeholder="Answer" class="input has-background-light">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span> -->
                        <span>{{expression}}</span>
                    </p>
                </div>
                <div class="field" style="min-height: 20px; display: inline-block; float: right; margin-left: 10px">
                    <p *ngIf="isGameEnabled && !isGameFinished" class="control is-pulled-right">
                        <button class="button is-success has-text-white" (click)="clearTimer()">
                            Submit
                        </button>
                    </p>
                </div>
                <div *ngIf="isGameEnabled || isGameFinished" style="width: 100%; margin: 10px 0; min-height: 20px;">
                    Your score is: {{score}}
                </div>
                <div *ngIf="isGameFinished" style="width: 100%; margin: 10px 0; min-height: 20px;">
                    Your result is: {{result}}
                </div>
                <div *ngIf="isGameFinished || hasPlayed" style="width: 100%; margin: 10px 0; min-height: 20px;">
                    <button class="button is-success has-text-white" (click)="nextGame()">
                        Next game
                    </button>
                </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
